[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/optimism"]
	path = lib/optimism
	url = https://github.com/ethereum-optimism/optimism
	shallow = true
[submodule "lib/Solidity-RLP"]
	path = lib/Solidity-RLP
	url = https://github.com/hamdiallam/Solidity-RLP
